/ {
    aliases {
        sw1 = &button0;
        sw2 = &button1;
        sw3 = &button2;
        sw4 = &button3;
        sw5 = &button4;
        sw6 = &button5;
        sw7 = &button6;
        // led0 = &led0;
    };

    // soc {
    //     gpio4: gpio@4 {
    //         compatible = "gpio";
    //         status = "okay";
    //         gpio-controller;
    //         #gpio-cells = <2>;
    //     };

    //     gpio5: gpio@5 {
    //         compatible = "gpio";
    //         status = "okay";
    //         gpio-controller;
    //         #gpio-cells = <2>;
    //     };
    // };

    // leds{
    //     compatible ="gpio-leds";
    //     led0: __leds0 {
    //         gpios=<&gpioa 5 0>;
    //         label="onboard led";
    //     };
    // };

    buttons {
        compatible = "gpio-keys";
        button0: button_0 {
            gpios = <&gpiob 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;// Example of using GPIO_ACTIVE_LOW flag
            label = "Button 0";//select down
        };

        button1: button_1 {
            gpios = <&gpiob 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;// Example of using GPIO_ACTIVE_LOW flag
            label = "Button 1";//select left
        };
        button2: button_2 {
            gpios = <&gpiob 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;// Example of using GPIO_ACTIVE_LOW flag
            label = "Button 3";// select up
        };
        button3: button_3 {
            gpios = <&gpioa 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;// Example of using GPIO_ACTIVE_LOW flag
            label = "Button 4";//select right
        };
        button4: button_4 {
            gpios = <&gpioc 7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;// Example of using GPIO_ACTIVE_LOW flag
            label = "Button 5";//shop left
        };
        button5: button_5 {
            gpios = <&gpiob 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;// Example of using GPIO_ACTIVE_LOW flag
            label = "Button 6";//shop comfirm
        };
        button6: button_6 {
            gpios = <&gpiob 9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;// Example of using GPIO_ACTIVE_LOW flag
            label = "Button 7";//shop right
        };
    };
};
